SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=pg
DB_PORT=5432


EMBEDDING_MODEL_DOC=mistralai/codestral-embed-2505
EMBEDDING_MODEL_QUERY=mistralai/codestral-embed-2505
BASE_URL=https://polza.ai/api/v1
API_KEY=

REDIS=redis://redis:6379/0

MAX_DIFF_MATCH=0.2